#containerModal {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.5)
}

.modal {
    display: none;
    width: 65%;
    max-width: 700px;
    height: 450px;
    margin-top: 10%;
    padding: 30px;
    background-color: darken($color: #f5f5f5, $amount: 5);
    border-radius: 10px;
    animation: modal 0.6s ease-in-out;

    & > h1 {
        font-size: 1.8rem;
        color: darken($color: #44475a, $amount: 10);
    }

    & > img {
        width: 45px;
        position: relative;
        top: -40px;
        left: 99%;
        cursor: pointer;
    }

    .inputsModal {
        & input {
            width: 100%;
            height: 50px;
            margin: 10px;
            border: none;
            border-radius: 3px;
            padding: 5px;
            transition-duration: 0.3s;

            &:focus {
                background-color: darken($color: #fff, $amount: 5);
                outline: none;
            }
        }
    }

    .buttonsModal {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;

        #cancel {
            min-width: 30%;
            height: 70px;
            border: 2px solid #ff5555;
            color: #ff5555;
            font-size: 1.6rem;
            font-weight: 700;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.0);
            cursor: pointer;

            &:hover {
                background-color: darken($color: #fff, $amount: 5);
            }
            &:focus {
                background-color: darken($color: #fff, $amount: 10);
            }
        }

        #save {
            min-width: 30%;
            height: 70px;
            border: 2px solid #50fa7b;
            color: #fff;
            font-size: 1.6rem;
            font-weight: 700;
            border-radius: 5px;
            background-color: #50fa7b;
            cursor: pointer;
            
            &:hover {
                background-color: darken($color: #50fa7b, $amount: 10);
            }
            &:focus {
                background-color: darken($color: #50fa7b, $amount: 15);
            }
        }
    }
}

@keyframes modal {
    from {
        margin-top: -10%;
    }
    to {
        margin-top: 10%;
    }
}
